apiVersion: v1
kind: Service
metadata:
  name: my-frontend-service # Fixed name
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      protocol: TCP
  selector:
    app: my-frontend # This must match the label in your deployment