apiVersion: v1
kind: Service
metadata:
  name: my-app-service  # Simple, fixed name
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      nodePort: {{ .Values.service.nodePort }}
      protocol: TCP
  selector:
    app: my-app         # Must match the label in your deployment